.h1 {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.p {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.image1 {
  animation: fadeIn 4s;
  border: 5px solid rgb(255, 255, 255);
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.image2 {
  animation: fadeIn 4s;
  border: 5px solid rgb(100, 19, 19);
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.image3 {
  animation: fadeIn 4s;
  border: 5px solid rgb(19, 181, 1);
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.image4 {
  animation: fadeIn 4s;
  border: 5px solid rgb(255, 0, 0);
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.link1 {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.link2 {
  animation: fadeIn 6s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.link3 {
  animation: fadeIn 7s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.link4 {
  animation: fadeIn 8s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.link5 {
  animation: fadeIn 9s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.button {
  border: none;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: black;
}

.button1 {
  background-color: rgba(255, 255, 255, 0); 
  color: black; 
  border: 2px solid #00fc08;
}

.button1:hover {
  background-color: #0004ff;
  color: white;
}

.button2 {
  background-color: rgba(255, 255, 255, 0); 
  color: black; 
  border: 2px solid #3300ff;
}

.button2:hover {
  background-color: #ff0000;
  color: white;
}

.button3 {
  background-color: rgba(255, 255, 255, 0); 
  color: black; 
  border: 2px solid #ff0000;
}

.button3:hover {
  background-color: #767676;
  color: white;
}

.button4 {
  background-color: rgba(255, 255, 255, 0); 
  color: black; 
  border: 2px solid #767676;
}

.button4:hover {
  background-color: #ffa638;
  color: white;
}

.button5 {
  background-color: rgba(255, 255, 255, 0); 
  color: black; 
  border: 2px solid #b300ff;
}

.button5:hover {
  background-color: #04ff00;
  color: white;
}

.button6 {
  background-color: rgba(255, 255, 255, 0); 
  color: black; 
  border: 2px solid #ffffff;
}

.button6:hover {
  background-color: #000000;
  color: white;
}

.button7 {
  background-color: rgba(255, 255, 255, 0); 
  color: black; 
  border: 2px solid #ff8c00;
}

.button7:hover {
  background-color: #b300ff;
  color: white;
}

.link6 {
  animation: fadeIn 10s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.darkened-image {
  filter: brightness(100%);
} 

/* 
font butoane: font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-decoration:none
font scris: font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
culoare text: <span style="color :rgb(0, 0, 0)"></span> 

     </div>
    <div class="image2" style="position: absolute; top:700x; left:720px">
        <img src="https://miro.medium.com/max/1200/1*sNbb_ykPw5YM7S6A4hv13w.jpeg" height="200" width="500" style="float: right;">
     </div>
*/

 
